
		    h1 {
			    text-align:center;
				color:#e8000b;
				font-size:90px;
                background-color:#1e1d1d;	
				border: 2px solid red;
			}
			h2 {text-align:center;
				color:#e8000b;
				font-size:0,5em;
                background-color:#1e1d1d;
				border: 2px solid red;
			}
			body {
			    font-family:Verdana, sans-serif;
  				background-color: #bbc4b6;	
			}
			p {
				color:#f73841;
				text-align:center;
			}
			h1, h2 {
			           font-family: serif;
			}
			figure {
			       text-align:center;
				   color:#f73841;
				   font-size:1em;
				   font-family: cursive;
			}
			div {
			    border-radius:10px;
	            border:2px solid #d80408;
	            background-color:#f44e51;
	            height:80px;
	            width:180px;
	            margin:auto;
	            text-align:center;
				font-weight: bold;
	            font-size: 22px;
			}
			li {
				color:#f73841;
			}
			ol li ul li {
				  color:#ffffff;
			}
            a {
	           text-decoration:none;
	           color:#ffffff;
	           font-family:Verdana, sans-serif;
             }